*{
    margin: 0;
    padding: 0;
}

.header{
    background:linear-gradient(to right,#00c4cc,#7d2ae8)         ;
}

body{
    background:linear-gradient(to right,#00c4cc,#7d2ae8)
}
.navegador{
    font-size: 18px;

}
.logo {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Kelly Slab', cursive;
    color:#ffffff;
}

.logo span{
    font-family: 'Indie Flower', cursive;
}
.enlaces{
    color: #ffffff;
}

.dropdown-menu{
    background:linear-gradient(to right,#1ba2d2,#2e8cd6) ; 
    font-family: 'Indie Flower', cursive;
    font-size: 0.8em;
   
    
}

.dropdown-item{
    color: #ffffff;
    font-weight: bold;
}


.dropdown-menu .dropdown-item:hover{
    background: none;
    color: #3e2461;

}

.boton-ingreso{
    color: #ffffff;
}

/********contenedor cuerpo    *****************/

.cuerpo {
     margin:0px 3% ;  
     background-color: #3e2461; 
    width: auto;
    height: auto;
}



            /*presentacion----------------------------*/
.contenedor-presentacion{
    background-image: url(https://files.123inventatuweb.com/acens243823/image/b3f975ac-0720-43c0-85b5-f8abc30c52b4.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 100%;
}

.contenedor-presentacion div{
    width: 40vw;
    height: 100vh;
    padding: 60px;
    position: relative;
    display: flex;
    font-family: 'Zhi Mang Xing', cursive;
    justify-content: center;
    align-items: center;
}


.presentacion-text{
    font-size: 2.5vw;
}

/*```````````````~~~~~~~~~~~~~~~~~beneficios----------------------------*/

.comparaciones{
    padding: 10px 0 0;
    text-align: center;
    background-color: rgb(249, 255, 255);
}

.comparaciones .titulo-vs{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 1.7em;
    text-decoration: underline;
    text-align:  center;
    justify-content: center;
}
.titulo-vs span{
    font-size: 1.9em;
}
.titulo-vs p{

    box-shadow: 0 8px 6px -6px black;

}
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~GRILLA~~~~~~~~~~~~~~~~~*/
.comparaciones .grilla{
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-template-rows: minmax(300px, 1fr);
    grid-gap: 30px;
    padding: 40px 100px;

}

.comparaciones .grilla .beneficio{

    min-height: 250px;
    max-height: 300px;
    border-radius: 15px;
    box-shadow: 3px 2px 10px hsl(0, 0%, 0%);
    overflow: hidden;
    position: relative;

}


.comparaciones .grilla .beneficio img{
     width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: transform 2s;


}

.beneficio .detalles{
    position: absolute;
    top: 10px;
    left: 15px;
    bottom: 10px;
    right: 15px;
    background: rgba(0,0,0, 0.8);
    transform: scaleY(0);
    transition: transform 1s;
}
.beneficio .detalles .contenedor-detalles{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;   
    color: #ffffff;
}

.beneficio .detalles .contenedor-detalles h1{
    color: rgb(56, 168, 172);
    font-family: 'Zhi Mang Xing', cursive;
}

.beneficio .detalles .contenedor-detalles p{

    font-family: 'Indie Flower', cursive;
    font-size: 1.1em;

}

            /*MOVIMIENTOS HOVER     ~~~~~~~~~~~~~~*/
 
.beneficio:hover img {
    transform: scale(1.2);

}
.beneficio:hover .detalles{
    transform: scaleY(1);
}

/*~~~~~~~~~`titulo perfiles~~~~~~~~~~~~~~~~~~~~~*/


.contenedor-perfiles{
    background-color: #ffffff;
    height: auto;
    box-sizing: border-box;
    width: 100%;

}
.contenedor-perfiles .titulo-perfiles{

    background:linear-gradient(to right,#3467c5 40%,#ffffff ); 
    width: 40%;
    padding-left: 3vw;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    font-weight: bold;
}
/* ~~~~~~~~~~INICIO GRID CARRUSEL~~~~~~~~~~~~~~~~~~*/

.contenedor-perfiles .content-grid{
    display: grid;
    width: 100%;
    /* padding: 15px; */
    grid-template-columns: repeat(2,minmax(30%,1fr));
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas: "perfil1 carrusel"
                        "perfil2 carrusel"
                        "perfil3 carrusel";
    grid-gap: 3%;
    box-sizing: border-box;
    position: relative;
}

.contenedor-perfiles .content-grid .perfi{
    width: 200px;
    height:150px
}

.contenedor-perfiles .content-grid .carrusel{
    grid-area :carrusel;
    padding: 5%;
    position: absolute;
    justify-content: center;
    grid-column:2/ 3 ;
    grid-row: 1/ 4;
    top: 50%;
    transform: translateY(-50%);

}

.perfil1{
    grid-area: perfil1;
}
.perfil2{
    grid-area: perfil2;
}
.perfil3{
    grid-area: perfil3;
}


.content-grid h5{
    text-align: center;
    text-decoration: underline;
    font-family: 'Zhi Mang Xing', cursive;
}

.content-grid p{
    font-family: 'Kelly Slab', cursive;

}



footer{
    display: inline-flex;
    height: 150px;
    background: #30312c;
    width: 100%;
    align-items:center ;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    text-decoration: underline;
}
