*{
    margin: 0;
    padding: 0;
}

.header{
    background:linear-gradient(to right,#00c4cc,#7d2ae8)         ;
}

body{
    background: yellowgreen;
}
.navegador{
    font-size: 18px;

}
.logo {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Kelly Slab', cursive;
    color:#ffffff;
}

.logo span{
    font-family: 'Indie Flower', cursive;
}
.enlaces{
    color: #ffffff;
}

.dropdown-menu{
    background:linear-gradient(to right,#1ba2d2,#2e8cd6) ; 
    font-family: 'Indie Flower', cursive;
    font-size: 0.8em;
   
    
}

.dropdown-item{
    color: #ffffff;
    font-weight: bold;
}


.dropdown-menu .dropdown-item:hover{
    background: none;
    color: #3e2461;

}

.boton-ingreso{
    color: #ffffff;
}

.contenedor-presentacion{
    background-image: url(https://files.123inventatuweb.com/acens243823/image/b3f975ac-0720-43c0-85b5-f8abc30c52b4.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100vw 100vh;
}





/* .contenedor-presentacion .presentacion-text{
    text-align: left;
    justify-content: center;
    height: 100%;
}
 */

/* @media only screen and ( max-width :800px ){



    font-family: 'Zhi Mang Xing', cursive;

    font-family: 'Indie Flower', cursive;

    font-family: 'Kelly Slab', cursive;

} */